<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="/allbooks">all books</a></li>
            <li><a href="/eng">english</a></li>
            <li><a href="/fiction">fiction</a></li>
            <li><a href="/non-fiction">non-fiction</a></li>
        </ul>
    </header>
    <div class="container">
    {{{body}}}
    </div>
    
</body>
</html>