<h1>all books</h1>


{{!-- it works --}}
{{!-- {{result}} --}}


{{!-- it doesn't --}}
{{#each list}}
<div class="block">

<h4>{{this.title}}</h4>
<span>source: {{this.name}}</span>

</div>

{{/each}}
