<h1>Books in english</h1>


{{!-- it works --}}
{{!-- {{result}} --}}


{{!-- it doesn't --}}
{{#each list}}
<div class="block">

<h4>{{this.title}}</h4>
<span>source: {{this.name}}</span>
<span>genre: {{this.genresource}}</span>

</div>

{{/each}}
